* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container div {
    display: flex;
}

.header {
    justify-content: space-between;
}